<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Product Knowledge Graph Auto-generation</title>
  </head>
  <body>

	{% extends "template.html" %}
    {% block content %}
    <div class="container is-centered" style="font-size: 20px;">
      <h1 class="title">ข้อตกลงการใช้ซอฟต์แวร์</h1>
      <p> 
          ซอฟต์แวร์นี้เป็นผลงานที่พัฒนาขึ้นโดย นายอภิสิทธิ์ สมพื้น, นายนพชัย จินดามณีโชติ และนายธันยบูรณ์ หิรัญดำรงค์ 
          จาก มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี ภายใต้การดูแลของ ผศ.ดร.สันติธรรม พรหมอ่อน ภายใต้โครงการ 
          “ระบบการสร้างกราฟความสัมพันธ์จากข้อมูลสินค้าโดยอัตโนมัติ” ซึ่งสนับสนุนโดย สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ 
          โดยมีวัตถุประสงค์เพื่อส่งเสริมให้นักเรียนและนักศึกษาได้เรียนรู้และฝึกทักษะในการพัฒนาซอฟต์แวร์ ลิขสิทธิ์ของซอฟต์แวร์นี้จึงเป็นของผู้พัฒนา 
          ซึ่งผู้พัฒนาได้อนุญาตให้สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ เผยแพร่ซอฟต์แวร์นี้ตาม “ต้นฉบับ” โดยไม่มีการแก้ไขดัดแปลงใดๆ ทั้งสิ้น 
          ให้แก่บุคคลทั่วไปได้ใช้เพื่อประโยชน์ส่วนบุคคลหรือประโยชน์ทางการศึกษาที่ไม่มีวัตถุประสงค์ในเชิงพาณิชย์ โดยไม่คิดค่าตอบแทนการใช้ซอฟต์แวร์ 
          ดังนั้น สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ จึงไม่มีหน้าที่ในการดูแล บำรุงรักษา จัดการอบรมการใช้งาน หรือพัฒนาประสิทธิภาพของซอฟต์แวร์ 
          รวมทั้งไม่รับรองความถูกต้องหรือประสิทธิภาพการทำงานของซอฟต์แวร์ ตลอดจนไม่รับประกันความเสียหายต่างๆ อันเกิดจากการใช้ซอฟต์แวร์นี้ทั้งสิ้น        
      </p>
      <br></br>
      <h1 class="title">Disclaimer</h1>
      <p>This software is a work developed by Apisit Sompuen, Noppachai Jindamaneechot and Thanyaboon Hirundumrong 
        from King Mongkut's University of Technology Thonburi under the provision of Asst. Prof. Santitham Prom-on ,Ph.D 
        under “Product Knowledge Graph Auto-generation” , which has been supported by the National Science and Technology Development Agency (NSTDA), 
        in order to encourage pupils and students to learn and practice their skills in developing software. Therefore, 
        the intellectual property of this software shall belong to the developer and the developer gives NSTDA a permission to distribute 
        this software as an “as is ” and non-modified software for a temporary and non-exclusive use without remuneration to anyone 
        for his or her own purpose or academic purpose, which are not commercial purposes.  In this connection, NSTDA shall not be responsible 
        to the user for taking care, maintaining, training or developing the efficiency of this software. Moreover, NSTDA shall not be liable for any error, 
        software efficiency and damages in connection with or arising out of the use of the software.” </p>
    </div>
    
	{% endblock %}
  </body>
</html>