<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Upload Product Details</title>
  </head>
  <body>
	{% extends "template.html" %}
    {% block content %}
	<h2>Select a file to upload (csv file)</h2>
	<p>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</p>
	<form method="post" action="/uploads" enctype="multipart/form-data">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input type="submit" value="Submit">
		</p>
	</form>
	{% endblock %}
  </body>
</html>